@import url('https://fonts.googleapis.com/css?family=Aleo:400,700');
    body{
        font-family: 'Aleo', serif;
         overflow: auto;
         outline: none;
    } 
    #h1 {
        font-size: 3rem;
    }
    #typed{
        font-size: 4rem;
      background-color: rgba(13, 247, 13, 0.63);

    }
    #p{font-size: 2rem;}
    #h3{
        font-size: 2rem;
    }
    .carousel-caption{
        position: absolute;
        bottom:40%;
    }
  .heading-underline{
      width: 10rem;
      height: .2rem;
      background-color: rgba(13, 247, 13, 0.829);
      margin: 0 auto 2rem;
  }
  .green-line{
      width: 100%;
      height: .1rem;
      background-color: rgb(147, 170, 147);
      margin: 0 auto 2rem;
  }
    .team{
        width: 100%;
    }
    .card{
        width: 326px;
        height:450px;
    }
    .imgset{
        height: 16.5rem;
    }
   
    .contain{
        padding-top: 3rem;
        padding-bottom: 6rem;
    }
    .welcome{
         padding-bottom: 5px;
    }
    
    .carousel-inner img{
        width:100%;
        height:100%;
    }
    .btn{
        border-radius: 40px;

    }
    .btn:hover{
        background-color:rgb(0, 255, 221);
        color: black;
    }
    .card1{
        margin-top: 1rem;
            }


    .fa-app-store{
        
        border-radius: 50%;
        color:rgb(0, 110, 255);
        
    }
    .fa-mobile{
        color:rgb(0, 255, 221);
        
    }
    .fa-adobe{
        color:red;
        
    }
    .fa-app-store, .fa-adobe, .fa-mobile
    {
        font-weight: 900;
        width:100px;
        height:100px;
        border-radius: 50%;
        font-size: 4em;
    }
   
    .fa-facebook,
    .fa-instagram,
    .fa-twitter,
    .fa-google-plus-g{
       display: block;
       font-size: 4em;
    }
    .fa-google-plus-g{
color: red;
    }
    .fa-instagram{
        color: rgb(228, 74, 255);
    }
    .fa-twitter{
        color:#00acee;
    }
.fa-facebook{
    color:#fcfcfc;
}

.footer{
    background: url(../IMAGES/img14.jpg) no-repeat fixed center;
    width: 100%;
    
}
.dark{
    background-color: rgba(0, 0, 0, 0.75);
}
.h3, .h5{
    color: white;
}
.display{
    font-size: 1.5rem;
}
.display:hover{
    text-decoration: underline  white;
}
.carousel-control-prev-icon, .carousel-control-next-icon{
    width:2rem;
    height:2rem;
}
   @media (max-width: 576px) { 
    
    #typed{
        font-size: 1.7rem;
    }
    #h1{
        font-size: 2rem;
        margin-bottom: -1.7rem !important;
    }
    .carousel-caption{
        position: absolute;
        top:40%;
    }
    .display-4{
        font-size: 2rem !important;
    }
    .display-3{
        font-size: 2rem;
    }
    #h3{
        font-size: 1.5rem;
    }
    #btn{
        font-size: .7rem;
        padding: .2rem .6rem;
        line-height: 1.1rem;
    }
   }
    /* html{
        scroll-behavior:smooth;
    } */